<div id='wrapper'>
  <div class="ui fluid category search">
    <div class="ui icon input">
      <input class="prompt" type="text" placeholder="I need a...">
      <i class="search icon"></i>
    </div>
    <div class="results"></div>
  </div>
</div>

