<div class='headline-wrapper'>
    <h1 class='report-intro'> Rent your equipment to other professionals or lease what you need from other members. </h1>
    


  <div id='home-search-wrapper'>
    <%= form_tag search_items_path, method: :get, class: 'ui search ui icon input', role: 'search' do %>
      <p>
        <%= text_field_tag :search, params[:search], class: "prompt search icon", type: 'text', placeholder: 'I need a...' %> 
      </p>
    <% end %>
    
    <% unless current_user %>
      <div id='sign-up-wrapper'>
        <%= link_to 'Sign Up', new_user_registration_path, class: "ui teal button" %>
      </div>
    <% end %>

  </div>

</div>

  


