<div class='row'>

  <% @items.each do |item| %>
    <figure class='col-md-4'>
      <div class="ui medium bordered images">
        <div class=thumbnail><%= link_to(image_tag(item.images[0].thumb), item_path(:id => item.id)) %></div>
      </div>

      <h6> <%= item.item_name %> </h6> 
      <h6> <%= item.category %> </h6>
    </figure>

  <% end %>

</div>


