/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require bxslider
 *= require_tree .
 */

 @import "semantic-ui";
 @import "semantic-ui/collections/menu";
 @import "semantic-ui/modules/tab";
 @import 'bootstrap';
 @import 'bootstrap/theme';
 @import "bootstrap";
 @import "bootstrap-social";
 @import "font-awesome";
 @import 'chosen';

 @mixin background-tile {
  box-sizing: border-box;
  background-color: #EBEBEB;
  border-radius: 1px;
  box-shadow: 2px 2px 3px 3px #ccc;
  padding: 0.5em 0.5em;
}

body {
  font-family: 'Lato';  
  width: 100%;
  height: 100%;
  background: url(nodes.png);
  padding-left: 1em;
  padding-right: 1em;
}

html {
  font-size: 82%;
}

#item-form {
  width: 40%;
  margin-left: 3em;
  margin-top: 3em;
  @include background-tile;
}

#item_category_id {
  margin-bottom: 1.2em;
}

#item_image {
  // margin-bottom: 1em;
}

#item_description {
  margin-bottom: 1.2em;
  height: 8em;
}

.item-image img {
  width: 325px;
  height: 250px;
  object-fit: contain;
}

.slider {
  width: 325px;
  height: 250px;
}


label {
  font-size: 0.92857143em;
  font-weight: normal;
  margin-left: 1.1em;
}
  
.edit-account-form {
  width: 36%;
  height: auto;
  margin-left: 3em;
  margin-top: 3em;
  @include background-tile;
}

.new-account-form {
  width: 36%;
  height: auto;
  margin-left: 3em;
  margin-top: 3em;
  @include background-tile;
}


img.ui.small.image {
  object-fit: contain;
  margin-left: 8em;
  margin-bottom: 2em;  
}

#account_your_bio {
  height: 6em;
  width: 100%;
}

.item-show {
  margin-left: 1em;
}

.item-info {
  margin-top: 6em;
}

.three.column.centered.row {
  margin-top: 50em;
}

#my-wrapper {
  margin-top: 3em;
}

h3, h4 {
  font-weight: normal;
  margin-bottom: 2em;
}

#home-search-wrapper {
  text-align: center;
  margin-top: 8em;
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-warning;
}

.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}


#mailbox-buttons {
  float: left;
}

#conversation-container {
  width: 50%;
}

#nav {
  margin-bottom: 2em;
  background-color: white;
}

.form-actions {
  margin-top: 1em;
}

.item-buttons {
  text-align: right;
  float: right;
}

#description {
  width: 300px;
  float: left;
  height: 300px;
  margin-left: 19em;
  padding: 4em;
  padding-top: 6em;
}

#map-canvas {
  width: 300px;
  float: left;
  height: 300px;
  margin-left: 9.5em;
}

.thumbnail {
  height: 170px;
  width: 250px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  border: solid 1px #CCCCCC
}

.thumbnail-image {
  max-width:100%;
}

.hover-text {
  color: white;
  position: absolute;
  text-align: center;
  top: 5px; 
  left: 1px; 
  width: 25%;
  background-color: rgba(0, 0, 0, 0.31);
}

.category-container {
  display: inline-block;
  float: left;
  position:relative;
}

.search-container {
  display: inline-block;
  margin-left: 4em;
  float: left;
  width: 79%;
}

.report-intro {
  margin-left: 7em;
  margin-right: 7em;
  opacity: 0.3;
}

.headline-wrapper {
  text-align: center;
  padding-top: 5em;
}

.other-listings-wrapper {
  margin-top: 25em;
  margin-left: 10em;
  margin-right: 10em;
}

.ui.mini.red.message {
  margin-bottom: 3em !important;
}

.item {
  opacity: 1 !important;
  z-index: 1 !important;
}

.go-behind {
  position: relative !important;
}

.listings-thumbnail {
  height: 170px;
  width: 250px;
  display:inline-block; 
}

.listings-thumbnail-image {
  max-width:100%;
  float: right;
}

.listings-wrapper {
  margin-left: 20em;
  margin-right: 20em;
}

.ui.raised.segment {
  position: relative;
  margin-bottom: 1em !important;
}

.listings-info {
  display: inline-block;
  width: 40%;
  margin-left: 8em;
  position: absolute;
  top: 5em;
}

.four.wide.column {
  padding-top: 0px !important;
  margin-top: 0px !important;
}

.ui.center.aligned.basic.segment {
  text-align: left;
}

.ui.menu:not(.vertical) .item {
  display: inline-block;
}

#listing-buttons {
  display: inline-block;
  position: absolute;
  top: 5em;
  margin-left: 24em;
}

#listings-container {
  margin-top: 4em;
}

.ui.google.plus.button {
  margin-top: 0.4em !important;
}

#sign-up-wrapper {
  display: inline-block;
  padding-left: 6em;
}

.button {
  text-align: center;
  margin-top: 2em;
}

.form-horizontal {
  // margin-left: 2em;
}

.form-banner {
  text-align: center;
  opacity: 0.4;
}

.form-group {
  width: 100%;
}

.form-control {
  width: 100%;
}

input#account_name, input#account_location, input#account_telephone, textarea#account_your_bio {
  margin-top: 1em;
}


input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.registration-form, .login-form {
  @include background-tile;
  margin-left: 34em;
  margin-right: 34em;
  margin-top: 8em;
  text-align: center;

}

.form-inputs {
  margin-bottom: 1.2em;
}

#user_username {
  margin-bottom: 1.2em;
}

#user_remember_me {
  // margin-right: 5em;
  width: 250px;
}

div#map-canvas {
  margin-left: 221px;
}

#new-message-form {
  width: 36%;
  height: auto;
  margin-left: 3em;
  margin-top: 3em;
  @include background-tile;
}

