/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require bxslider
 *= require_tree .
 */

 @import "semantic-ui";
 @import "semantic-ui/collections/menu";
 @import 'bootstrap';
 @import 'bootstrap/theme';
 @import 'chosen';



body {
font-family: 'Lato';
margin: 1em;
}

#item-form {
  width: 50%;
  margin-left: 1em;
}

#item_image {
  margin-bottom: 1em;
}

#item_category {
  margin-bottom: 1em;
}

#item_description {
  margin-bottom: 1em;
  height: 8em;
}

.item-image img {
  max-height: auto;
  width: 100%;
}

label {
  display: block;
  margin: 0em 0em 0.28571429rem 0em;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.92857143em;
  font-weight: bold;
  text-transform: none;
}

.edit-account-form {
  width: 50%;
  margin-left: 1em;
}

.new-account-form {
  width: 50%;
  margin-left: 1em;
}

#account-image img {
  height: 250px;
  width: 250px;
}

#account_your_bio {
  margin-bottom: 1em;
  height: 8em;
}

#account_avatar_img {
  margin-bottom: 1em;
}

.slider {
  width: auto;
  height: auto;
}

.item-show {
  margin-left: 1em;
}

.item-info {
  margin-top: 6em;
}

.three.column.centered.row {
  margin-top: 50em;
}

#my-wrapper {
  margin-top: 3em;
}

h3, h4 {
  font-weight: normal;
}

#wrapper {
  text-align: center;
  margin-top: 20em;
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-warning;
}

.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}




